<launch>

  <arg name="UAV_NAME" default="$(env UAV_NAME)" />

  <arg name="custom_config" default="" />

    <!-- SENSOR TOPICS -->
  <arg name="imu_topic" default="/$(arg UAV_NAME)/icm_imu/imu" />
  <arg name="camera_name" default="camera_down" />
  <arg name="camera_topic" default="/$(arg UAV_NAME)/$(arg camera_name)/image_raw" />

    <!-- what config we are going to run (should match folder name) -->
  <arg name="config_path" default="$(find pairs_robofly_core)/config/open_vins/estimator_config.yaml" />
  <arg name="verbosity"   default="DEBUG" /> <!-- ALL, DEBUG, INFO, WARNING, ERROR, SILENT -->

    <!-- mono or stereo and what ros bag to play -->
  <arg name="use_stereo"  default="false" />
  <arg name="bag_start"   default="0" /> <!-- v1-2: 0, mh1: 40, mh2: 35, mh3: 17.5, mh4-5: 15 -->
  <arg name="bag_rate"    default="1" />
  <arg name="dataset"     default="V1_01_easy" /> <!-- V1_01_easy, V1_02_medium, V2_02_medium -->
  <arg name="dobag"       default="false" /> <!-- if we should play back the bag -->
  <arg name="bag"         default="" />

    <!-- saving trajectory path and timing information -->
  <arg name="dosave"      default="false" />
  <arg name="dotime"      default="false" />
  <arg name="path_est"    default="/tmp/traj_estimate.txt" />
  <arg name="path_time"   default="/tmp/traj_timing.txt" />

  <!-- if we should viz the groundtruth -->
  <arg name="dolivetraj"  default="false" />
  <!-- <arg name="path_gt" default="$(find ov_data)/$(arg config)/$(arg dataset).txt" /> -->

    <!-- will it run using GNU debugger? -->
  <arg name="DEBUG" default="false" />
  <arg unless="$(arg DEBUG)" name="launch_prefix" value=""/>
  <arg     if="$(arg DEBUG)" name="launch_prefix" value="debug_roslaunch"/>

    <!-- will it run as standalone nodelet or using a nodelet manager? -->
  <arg name="standalone" default="false" />
  <arg name="manager" default="/$(arg UAV_NAME)/$(arg camera_name)_manager" />

  <arg unless="$(arg standalone)" name="nodelet" value="load"/>
  <arg     if="$(arg standalone)" name="nodelet" value="standalone"/>
  <arg unless="$(arg standalone)" name="nodelet_manager" value="$(arg manager)"/>
  <arg     if="$(arg standalone)" name="nodelet_manager" value=""/>

  <group ns="$(arg UAV_NAME)">

    <node pkg="nodelet" type="nodelet" name="ov_msckf" args="$(arg nodelet) run_subscribe_msckf/RunSubscribeMsckf $(arg nodelet_manager)" launch-prefix="$(arg launch_prefix)" output="screen">

      <rosparam if="$(eval not arg('custom_config') == '')" file="$(arg custom_config)" />

      <param name="uav_name" type="string" value="$(arg UAV_NAME)" />

      <param name="config_path" type="string" value="$(arg config_path)" />

      <param name="verbosity" type="string" value="$(arg verbosity)" />

        <!-- topics -->
      <param name="topic_imu" type="string" value="$(arg imu_topic)" />
      <param name="topic_camera0" type="string" value="$(arg camera_topic)" />

    </node>

  </group>

  <include file="$(find pairs_robofly_core)/launch/vins_republisher.launch">

    <arg name="standalone" value="$(arg standalone)" />
    <arg name="manager" value="$(arg manager)" />

  </include>

  <include file="$(find pairs_icm_imu_driver)/launch/imu.launch">
  </include>

</launch>
